    {% extends 'base.html.twig' %}

    {% block title %}Hello ProfilController!{% endblock %}

    {% block body %}

        <div class="text-center">Vos Coordonnées
            <div>
                <table class="table">    
                    <tr>
                        <td>Votre Nom :  {{app.user.nom}}</td>
                    </tr> 
                    <tr>
                        <td>Votre Prenom : {{app.user.nom}}</td>
                    </tr>   
                    <tr>
                        <td>Votre Adresse : {{app.user.adresse}}     </td>
                    </tr>
                    <tr>
                        <td>Votre Code Postal : {{app.user.cpost}}     </td>
                    </tr>
                    <tr>
                        <td>Votre Ville :   {{app.user.ville}}   </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr>

        <div class="text-center">Vos Commandes en cours
            <div>
            
                <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date_commande</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Total</th>
                    <th>Exped</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {# {% for attente in attente %}
                <tr>
                    <td>{{ attente.id }}</td>
                    <td>{{ attente.dateCommande ? attente.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ attente.nom }}</td>
                    <td>{{ attente.email }}</td>
                    <td>{{ attente.adresse }}</td>
                    <td>{{ attente.total }}</td>
                    <td>{{ attente.exped ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_commande_show', {'id': attente.id}) }}">show</a>                    
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %} #}
            </tbody>
        </table>

            </div>
        </div>

        <div class="text-center">Historique de vos Commandes
            <div></div>
        </div>
    
        {% for item in app.user.commandes %}

            {% if item.exped != true %}

                <p>{{item.id}}</p>

                {% for detail in item.detailcommandes %}
                    <p>{{detail.titre}}</p>
                {% endfor %}

            {% endif %}


        {% endfor %}


    {% endblock %}
    
 